@charset "UTF-8";

:root{
    /*Color pallete*/
    --corp:#4D91D1;
    --cor0:#8DE3DF;
    --cor1:#4BEBE3;
    --cor2:#47DED7;
    --cor3:#4AC5E8;
    --cor4:#4A72E8;
    --cor5:#4947DE;
    --cor6:#2C2B9E;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor6);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 540px;

    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#img{
    background: #2C2B9E url(../imgs/img-login-m.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;

    display: block;
}

section#login > div#form{
    padding: 10px;

    display: block;
}

div#form > h1{
    text-align: center;
    padding: 10px;
}

div#form > p{
    font-size: 0.9em;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}

form > div.field{
    background-color: var(--cor6);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;

}

div.field > label {
    display: none;
}

div.field > span{
    color: white;
    font-size: 2em;
    transform: translateY(-1px);
    width: 40px;
    padding: 5px;
}

div.field > input{
    background-color: var(--cor3);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 3px solid #2C2B9E;
    transform: translateY(-12px);
    border-radius: 5px;
}

div.field > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: var(--cor6);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    color: var(--cor6);
    background-color: var(--cor3);
    border: 2px solid var(--cor6);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    color: var(--cor6);
    background-color: white;
    border: 2px solid var(--cor6);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    color: white;
    background-color: var(--cor6);
}

form > a.botao > span{
    font-size: 0.8em
}